<!-- 全局js -->
<script src="__STATIC__js/jquery.min.js?v=2.1.4"></script>
<script src="__STATIC__js/bootstrap.min.js?v=3.3.6"></script>
{load href="__STATIC__js/plugins/metisMenu/jquery.metisMenu.js" /}
{load href="__STATIC__js/plugins/slimscroll/jquery.slimscroll.min.js" /}
{load href="__STATIC__js/plugins/layer/layer.min.js" /}
<!-- 自定义js -->
{load href="__STATIC__js/hAdmin.js?v=4.1.0" /}
<script src="__STATIC__js/hAdmin.js?v=4.1.0"></script>
{load href="__STATIC__js/index.js" /}
</body>

</html>
