<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header" style="width: 85%;">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-info " href="#">
                <i class="fa fa-bars"></i>
            </a>
            <!--      <a class="J_menuItem  minimalize-styl-2 btn " href="index_v1.html">-->
            <!--        <span class="nav-label">我的7</span>-->
            <!--      </a>-->
            <!--      <a class="J_menuItem  minimalize-styl-2 btn " href="index_v2.html">-->
            <!--        <span class="nav-label">会员1</span>-->
            <!--      </a>-->
            <!--      <a class="J_menuItem  minimalize-styl-2 btn " href="index_v3.html">-->
            <!--        <span class="nav-label">会员2</span>-->
            <!--      </a>-->
            <!--      <a class="J_menuItem  minimalize-styl-2 btn " href="index_v4.html">-->
            <!--        <span class="nav-label">会员3</span>-->
            <!--      </a>-->
            <!--      <a class="J_menuItem  minimalize-styl-2 btn " href="index_v5.html">-->
            <!--        <span class="nav-label">会员4</span>-->
            <!--      </a>-->
            <!--      <a class="J_menuItem  minimalize-styl-2 btn " href="index_v6.html">-->
            <!--        <span class="nav-label">会员5</span>-->
            <!--      </a>-->
            <!--      <a class="J_menuItem  minimalize-styl-2 btn " href="index_v7.html">-->
            <!--        <span class="nav-label">会员6</span>-->
            <!--      </a>-->
            <!--      <a class="J_menuItem  minimalize-styl-2 btn " href="index_v7.html">-->
            <!--        <span class="nav-label">会员7</span>-->
            <!--      </a>-->
            <!--      <a class="J_menuItem  minimalize-styl-2 btn " href="index_v7.html">-->
            <!--        <span class="nav-label">会员8</span>-->
            <!--      </a>-->

        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                    <img alt="image" class="img-circle" style="width: 32px; height: 32px;" src="__STATIC__img/a2.jpg">
                    <span>法外狂徒张三</span>
                </a>
                <ul class="dropdown-menu dropdown-alerts" style="width: 200PX;">

                    <li class="user-header" style="text-align: center">
                        <img style="width: 90px; height: 90px;" src="__STATIC__img/a2.jpg" class="img-circle" alt="">
                        <p>
                            法外狂徒张三
<!--                            <small>2021-07-10 17:18:23</small>-->
                        </p>
                    </li>
                    <!-- Menu Footer-->
                    <li class="user-footer" style="text-align: center">
                        <div >
                            <a href="admin/login/logout" class="btn btn-danger"><i class="fa fa-sign-out"></i>
                                退出</a>
                        </div>
                    </li>
                </ul>
            </li>

        </ul>
    </nav>
</div>